@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.title {
    font-family: 'Quicksand', sans-serif !important;
}

.header {
    font-family: 'Roboto Mono', monospace !important;
}


.chill {
    font-family: 'Bebas Neue' !important;
}